<%- include('./layouts/header') %>

    <h1 class="table">Manage Users</h1>

    <table class="table">
        <thead>
            <th>NAME</th>
            <th>ID</th>
            <th>EMAIL</th>
            <th>ROLE</th>
        </thead>
        <tbody>
            <% allUsers.forEach((user)=> { %>
                <tr>
                    <td style="color: rgb(17, 78, 190);font-weight: 900;">
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.id %>
                    </td>

                    <td><a href="/admin/user/<%= user.id %>">
                            <%= user.email %>
                        </a>
                    </td>


                    <td>
                        <form action="/admin/update-role" method="POST" class="manage-user-form">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <select name="role" id="role">
                                <option value="ADMIN" <%=user.role==="ADMIN" ? 'selected' : '' %> >Admin</option>
                                <option value="MODERATOR" <%=user.role==="MODERATOR" ? 'selected' : '' %> >Moderator
                                </option>
                                <option value="CLIENT" <%=user.role==="CLIENT" ? 'selected' : '' %> >Client</option>
                            </select>
                            <input type="submit" value="update">
                        </form>
                    </td>
                </tr>

                <% }) %>
        </tbody>
    </table>
    <%- include('./layouts/footer') %>